.app {
  display: grid;
  grid-template-columns: 320px 1fr;
  height: 100vh;
}

.app.show-versions {
  grid-template-columns: 320px 280px 1fr;
}

.muted {
  color: var(--wa-muted);
}
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px;
}

.workspace {
  flex: 1;
  overflow: auto;
  padding: 20px 24px;
}
