# Document Managment
.idea/
.vscode/

**/__pycache__/
*.pyc
*.pyo
*.pyd

DocumentManagement/storage/docs/

.venv/
venv/
.env

.DS_Store
Thumbs.db


# Writing Assistant


# Document Preparation


# Project Realization


# User Managment