<div class="document-container" *ngIf="document && !showCreateDocument && !showEditDocument && showMain">
    <div class="document-header">
        <div class ="document-title-container">
            <span class="document-title">{{document.name}}</span>
            <img src="assets/edit.png" alt="edit icon" class="edit-icon" *ngIf="canEditDocument()" (click)="openEditDocument()">
        </div>
        <span *ngIf="!document.isDraft" class="time-left">Time left: <span class="time-left" [style.color] = "getTimeLeftColor()">{{getTimeLeftFormatted()}}</span></span>
        <span *ngIf="document.isDraft" class="time-left">Version: <span class="time-left" [style.color] = "'#FF0000'">Draft</span></span>

    </div>
    <div class="document-content">
      <div class="document-info-wrapper" [class.collapsed]="isCollapsed">
        <div class="document-info-container" [class.collapsed]="isCollapsed">
          <div class="info-label">
            <img src="assets/status.png" alt="status icon" class="status-icon info-icon">
            <span class="info-text">Status</span>
            <div class="status-button" [style.backgroundColor]="statusColor" [style.paddingRight]="this.nextStatus && document.canMoveToNextStatus(this.userId!) ? '0' : '16px'">
              <span class="info-text status-text">{{this.statusToShow!.currentStatus.name}}</span>
              <div class="next-status-container" *ngIf="this.nextStatus && document.canMoveToNextStatus(this.userId!)" (click)="selectNextStatus()">
                <img src="assets/play-button.png" alt="play icon" class="play-icon">
              </div>
            </div>
            <img src="assets/checked.png" alt="sync icon" class="check-icon" *ngIf="showUpdateStatus" (click)="confirmStatusChange()">
          </div>
          <div class="info-label" *ngIf="document.assignees && document.assignees.length > 0">
            <img src="assets/team.png" alt="team icon" class="team-icon info-icon">
            <span class="info-text">Assignees</span>
            <div class="assignees-container">
              <img *ngFor="let member of document.assignees" src="assets/man.png" alt="member icon" class="member-icon info-icon">
            </div>
          </div>
          <div class="info-label" *ngIf="document.dueDate">
            <img src="assets/schedule.png" alt="calendar icon" class="calendar-icon info-icon">
            <span class="info-text">Dates</span>
            <span class="info-text">{{getDateRangeFormatted()}}</span>
          </div>
          <div class="info-label" *ngIf="document.priority">
            <img src="assets/flag.png" alt="priority icon" class="priority-icon info-icon">
            <span class="info-text">Priority</span>
            <span class="info-text">{{document.priority}}</span>
          </div>
          <div class="info-label">
            <img src="assets/man.png" alt="owner icon" class="owner-icon info-icon">
            <span class="info-text">Owner</span>
            <span class="info-text">{{document.vlasnik.id}}</span>
          </div>
          <div class="info-label">
            <img src="assets/man.png" alt="man icon" class="modificator-icon info-icon">
            <span class="info-text">Modifier</span>
            <span class="info-text">{{document.lastModifiedBy!.id}}</span>
            <span class="info-text">{{document.lastModified | date:'dd MMM yyyy, HH:mm':'':'en-GB'}}</span>
          </div>
          <div class="description-section">
            <span class="info-text">Description</span>
            <div class="description-text">
              {{document.description}}
            </div>
          </div>




          <div class="dependency-section">
            <div class="dependency-header">
              <span class="info-text">Dependencies</span>
              <img src="assets/pen.png" alt="dependency icon" class="edit-dependency-icon" *ngIf="document.canEditDependency(userId) && !showEditDependency" (click)="openEditDependencies()">
              <div class="edit-dependency-actions" *ngIf="showEditDependency">
                <button class="save-changes-button" (click)="saveDependencies()">Save</button>
                <button class="cancel-changes-button" (click)="cancelEditDependencies()">Cancel</button>
              </div>
            </div>
            <div class="dependency-list">
              <div class="add-dependency-container" *ngIf="showEditDependency">
                <div class="add-dependency-item dependency-item" (click)="showAllAvailableDependencies()">
                  <input type="text" placeholder="Search document..." class="add-dependency-input" [(ngModel)]="dependencySearchTerm" (input)="searchDependencies()">
                </div>
                <div class="available-dependencies-dropdown" *ngIf="showEditDependency && filteredDependencies.length > 0">
                  <div *ngFor="let doc of filteredDependencies" class="available-dependency-item" (click)="addDependency(doc)">
                    <span class="info-text available-dependency-text">{{doc.name}}</span>
                  </div>
                </div>
              </div>
              <div  *ngFor="let dependency of document.getActiveDependencies()" class="dependency-item" (click)="openDependency(dependency)">
                <img src="assets/bin.png" alt="status icon" class="bin-icon dependency-icon" *ngIf="showEditDependency" (click)="removeDependency($event,dependency)">
                <span class="info-text dependency-text">{{dependency.name}}</span>
                <span class ="info-text dependency-status">{{dependency.dueDate | date:'dd MMM yyyy':'':'en-GB'}}</span>
              </div>
            </div>
          </div>


        </div>
          <button class="toggle-btn" (click)="togglePanel()">
          {{ isCollapsed ? '⮞' : '⮜' }}
          </button>
      </div>


      <div class="document-main-content">
        <div class="sub-document-section" *ngIf="document.subDocuments && document.subDocuments.length > 0 || canAddSubDocument()">
          <div class="sub-document-header">
            <span class="sub-document-title">Tasks</span>
            <document-preparation-progress-bar *ngIf="document.completionPercentage !== undefined" [percentage]="document.completionPercentage" class="progress-bar"/>
            <button class="dp-positive" *ngIf="userId && canAddSubDocument()" (click)="addSubDocument()"><img class="add-project-img" src="assets/plus.png" alt="Add Project" ></button>
            <span class="sub-document-board-view" *ngIf="document.workflow" (click)="openBoardView()">Board View</span>
          </div>
          <div class="sub-document-list" *ngIf="document.subDocuments && document.subDocuments.length > 0">
            <div *ngFor="let subDoc of document.subDocuments" class="sub-document-item-wrapper">
              <div class="sub-document-item-content-container" (click)="openSubDocument(subDoc)">
                <div class="sub-document-header">
                  <span class="sub-document-name">{{subDoc.name}}</span>
                  <document-preparation-progress-bar *ngIf="subDoc.completionPercentage !== undefined" [percentage]="subDoc.completionPercentage" class="sub-document-progress-bar"/>
                </div>
                <div class="sub-document-item">
                  <button class="sub-document-status-button" [style.backgroundColor]="statusColors[subDoc.status.currentStatus.id]"><span class="info-text status-text">{{subDoc.status.currentStatus.name}}</span></button>
                  <img src="assets/calendar.png" alt="calendar icon" class="calendar-icon sub-document-icon" *ngIf="subDoc.dueDate">
                  <span class="sub-document-due-date" *ngIf="subDoc.dueDate">{{subDoc.dueDate | date:'dd MMM yyyy':'':'en-GB'}}</span>
                  <img *ngFor="let member of subDoc.assignees" src="assets/man.png" alt="user icon" class="user-icon sub-document-icon">
                </div>
              </div>
              <img src="assets/{{subDoc.mainFile.extension}}.png" *ngIf="subDoc.mainFile" alt="arrow icon" class="sub-document-main-file-icon sub-document-icon" (click)="openFile(subDoc.mainFile)">
              <div class="action-button-container" *ngIf="subDoc.status.isReview() && canReviewDocument(subDoc)">
                <button (click)="openDocumentReview($event, subDoc)" class="action-button">Review</button>
              </div>
              <div class="action-button-container" *ngIf="subDoc.status.isLast()">
                <button (click)="openDocumentAnalysis($event, subDoc)" class="action-button">Analyze</button>
              </div>
            </div>
          </div>
        </div>
        <div class="file-section" *ngIf="!isRestoring && document.isDraft === false">
          <div class="file-header">
            <span class="file-title">Files</span>
            <button class="dp-positive" *ngIf="this.userId && document.canAddFile(this.userId)" (click)="uploadFile()"><img class="add-project-img" src="assets/plus.png" alt="Add Project"></button>
          </div>
          <div class="file-list">
            <div class="file-item-container upload-file-container" (click)="uploadFile()" *ngIf="this.userId && document.canAddFile(this.userId)">
              <img src="assets/upload.png" alt="upload icon" class="upload-icon">
              <span class="upload-text">Upload new file</span>
               <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
            </div>
            <div *ngFor="let activeFile of document.activeFiles" class="file-item-container" (click)="openFile(activeFile.file)">
              <span class="file-main-indicator" *ngIf="document.isFileMain(activeFile.file.id)">Main</span>
              <img src="assets/exclamation.png" *ngIf="document.doesActiveFileHaveUnCorrectedIssues(activeFile.id)" alt="exclamation icon" class="exclamation-icon">
              <img src="assets/warning.png" *ngIf="document.doesActiveFileHaveUnApprovedCorrections(activeFile.id)" alt="warning icon" class="exclamation-icon">
              <img src="assets/{{activeFile.file.extension}}.png" alt="file icon" class="file-icon">
              <span class="file-name">{{activeFile.file.name}}</span>
              <span class="file-version">Version: {{activeFile.file.version}}</span>
              <span class="file-modification">{{activeFile.file.dateUploaded | date:'dd MMM yyyy':'':'en-GB'}}</span>
              <div class="file-actions" *ngIf="this.userId && document.canManageFile(this.userId)">
                <img src="assets/sync.png" alt="restore options icon" class="file-action-icon" (click)="openRestoreOptions($event, activeFile)">
                <button *ngIf="!document.isFileMain(activeFile.file.id)" class="mark-as-main-button" (click)="markAsMain($event,activeFile)"><span class="mark-as-main">Mark as main</span></button>
                <img src="assets/bin.png" alt="delete icon" class="file-action-icon">
              </div>
            </div>
          </div>
        </div>

        <div class="file-section" *ngIf="isRestoring">
          <div class="file-header">
            <span class="file-title">Restore</span>
            <button class="restore-cancel-button" (click)="closeRestoreOptions()"> Cancel</button>
          </div>
          <div class="file-list" *ngIf="fileVersions && fileVersions.length > 0">
            <div class="file-item-container active-version" (click)="openFile(activeVersion.file)">
              <img src="assets/{{activeVersion.file.extension}}.png" alt="file icon" class="file-icon">
              <span class="file-name">{{activeVersion.file.name}}</span>
              <span class="file-modification">{{activeVersion.file.dateUploaded | date:'dd MMM yyyy':'':'en-GB'}}</span>
              <span class="file-version">Version: {{activeVersion.file.version}}</span>
              <div class="file-actions">
                <span class="current-version">Current Version</span>
              </div>
            </div>
            <div *ngFor="let file of fileVersions" class="file-item-container" (click)="openFile(file)">
              <img src="assets/{{file.extension}}.png" alt="file icon" class="file-icon">
              <span class="file-name">{{file.name}}</span>
              <span class="file-modification">{{file.dateUploaded | date:'dd MMM yyyy':'':'en-GB'}}</span>
              <span class="file-version">Version: {{file.version}}</span>
              <div class="file-actions">
                <button class="restore-button" (click)="restoreFile($event,file)"><span class="restore">Restore</span></button>
              </div>
            </div>
          </div>
        </div>

        <div class="issues-section" *ngIf="document.revisions && document.hasUnApprovedIssues()">
          <div class="issues-header">
            <span class="issues-title">Issues</span>
          </div>
          <div class="issues-list">
            <div *ngFor="let issue of document.getUnApprovedIssues()" class="issue-item-container">
              <div class="issue-status-indicator">
                <input type="checkbox" class="issue-checkbox" [checked]="issue.corrected" (change)="toggleIssueCorrection(issue)">
              </div>
              <span class="issue-text">{{issue.issue}}</span>
              <div class="file-issue" *ngIf="issue.activeFileId">
                <span class="file-issue-text" [style.text-decoration-color]="issue.corrected ? '#4caf50' : '#f44336'">{{document.getFileNameById(issue.activeFileId!)}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>

<document-preparation-document-create  [sortedWorkflow]="document.workflow!" [parentDocument]="document" [isUserOwner]="isUserAssignee" [isUserAssignee]="isUserSubAssignee" *ngIf="showCreateDocument"></document-preparation-document-create>
<document-preparation-document-create [workflowStatus]="document.status" [document]="document" [sortedWorkflow]="parentSortedWorkflow!" [project]="project" [parentDocument]="parentDocument" [isUserOwner]="document.isUserOwner(this.userId)" [isUserAssignee]="document.isUserAssignee(this.userId)" *ngIf="showEditDocument"></document-preparation-document-create>
<document-preparation-workflow-popup  *ngIf="showWorkflowPopup" (selectedOption)="onSelectedOption()" (close)="closeWorkflowPopup()" (done)="onWorkflowDone($event)"></document-preparation-workflow-popup>