<div class="document-container" *ngIf="document && !showCreateDocument && !showEditDocument">
    <div class="document-header">
        <div class ="document-title-container">
            <span class="document-title">{{document.name}}</span>
            <img src="assets/edit.png" alt="edit icon" class="edit-icon" *ngIf="canEditDocument()" (click)="openEditDocument()">
        </div>
        <span class="time-left">Time left: <span class="time-left" [style.color] = "getTimeLeftColor()">{{getTimeLeftFormatted()}}</span></span>
    </div>
    <div class="document-content">
      <div class="document-info-wrapper" [class.collapsed]="isCollapsed">
        <div class="document-info-container" [class.collapsed]="isCollapsed">
          <div class="info-label">
            <img src="assets/status.png" alt="status icon" class="status-icon info-icon">
            <span class="info-text">Status</span>
            <button class="status-button" [style.backgroundColor]="statusColor"><span class="info-text status-text">{{document.status.currentStatus.name}}</span></button>
          </div>
          <div class="info-label" *ngIf="document.assignees && document.assignees.length > 0">
            <img src="assets/team.png" alt="team icon" class="team-icon info-icon">
            <span class="info-text">Assignees</span>
            <div class="assignees-container">
              <img *ngFor="let member of document.assignees" src="assets/man.png" alt="member icon" class="member-icon info-icon">
            </div>
          </div>
          <div class="info-label" *ngIf="document.dueDate">
            <img src="assets/schedule.png" alt="calendar icon" class="calendar-icon info-icon">
            <span class="info-text">Dates</span>
            <span class="info-text">{{getDateRangeFormatted()}}</span>
          </div>
          <div class="info-label" *ngIf="document.priority">
            <img src="assets/flag.png" alt="priority icon" class="priority-icon info-icon">
            <span class="info-text">Priority</span>
            <span class="info-text">{{document.priority}}</span>
          </div>
          <div class="info-label">
            <img src="assets/man.png" alt="owner icon" class="owner-icon info-icon">
            <span class="info-text">Owner</span>
            <span class="info-text">{{document.vlasnik.id}}</span>
          </div>
          <div class="info-label">
            <img src="assets/man.png" alt="man icon" class="modificator-icon info-icon">
            <span class="info-text">Modifier</span>
            <span class="info-text">{{document.lastModifiedBy!.id}}</span>
            <span class="info-text">{{document.lastModified | date:'dd MMM yyyy, HH:mm':'':'en-GB'}}</span>
          </div>
          <div class="description-section">
            <span class="info-text">Description</span>
            <div class="description-text">
              {{document.description}}
            </div>
          </div>
        </div>
          <button class="toggle-btn" (click)="togglePanel()">
          {{ isCollapsed ? '⮞' : '⮜' }}
          </button>
      </div>
      <div class="document-main-content">
        <div class="sub-document-section">
          <div class="sub-document-header">
            <span class="sub-document-title">Tasks</span>
            <document-preparation-progress-bar *ngIf="document.completionPercentage !== undefined" [percentage]="document.completionPercentage" class="progress-bar"/>
            <button class="dp-positive" *ngIf="this.userId && document.canAddSubDocument(this.userId)" (click)="addSubDocument()"><img class="add-project-img" src="assets/plus.png" alt="Add Project"></button>
            <span class="sub-document-board-view" (click)="openBoardView()">Board View</span>
          </div>
          <div class="sub-document-list" *ngIf="document.subDocuments && document.subDocuments.length > 0">
            <div *ngFor="let subDoc of document.subDocuments" class="sub-document-item-wrapper">
              <div class="sub-document-item-content-container" (click)="openSubDocument(subDoc)">
                <div class="sub-document-header">
                  <span class="sub-document-name">{{subDoc.name}}</span>
                  <document-preparation-progress-bar *ngIf="subDoc.completionPercentage !== undefined" [percentage]="subDoc.completionPercentage" class="sub-document-progress-bar"/>
                </div>
                <div class="sub-document-item">
                  <button class="sub-document-status-button" [style.backgroundColor]="statusColors[subDoc.status.currentStatus.id]"><span class="info-text status-text">{{subDoc.status.currentStatus.name}}</span></button>
                  <img src="assets/calendar.png" alt="calendar icon" class="calendar-icon sub-document-icon" *ngIf="subDoc.dueDate">
                  <span class="sub-document-due-date" *ngIf="subDoc.dueDate">{{subDoc.dueDate | date:'dd MMM yyyy':'':'en-GB'}}</span>
                  <img *ngFor="let member of subDoc.assignees" src="assets/man.png" alt="user icon" class="user-icon sub-document-icon">
                </div>
              </div>
              <img src="assets/{{subDoc.mainFile.extension}}.png" *ngIf="subDoc.mainFile" alt="arrow icon" class="sub-document-main-file-icon sub-document-icon" (click)="openFile(subDoc.mainFile)">
              <div class="action-button-container" *ngIf="subDoc.status.isReview() && canReviewDocument(subDoc)">
                <button (click)="openDocumentReview($event, subDoc)" class="action-button">Review</button>
              </div>
              <div class="action-button-container" *ngIf="subDoc.status.isLast()">
                <button (click)="openDocumentAnalysis($event, subDoc)" class="action-button">Analyze</button>
              </div>
            </div>
          </div>
        </div>
        <div class="file-section" *ngIf="!isRestoring">
          <div class="file-header">
            <span class="file-title">Files</span>
            <button class="dp-positive" *ngIf="this.userId && document.canAddFile(this.userId)"><img class="add-project-img" src="assets/plus.png" alt="Add Project"></button>
          </div>
          <div class="file-list" *ngIf="document.activeFiles && document.activeFiles.length > 0">
            <div class="file-item-container upload-file-container" (click)="uploadFile()">
              <img src="assets/upload.png" alt="upload icon" class="upload-icon">
              <span class="upload-text">Upload new file</span>
               <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
            </div>
            <div *ngFor="let activeFile of document.activeFiles" class="file-item-container" (click)="openFile(activeFile.file)">
              <span class="file-main-indicator" *ngIf="document.isFileMain(activeFile.file.id)">Main</span>
              <img src="assets/exclamation.png" *ngIf="document.doesActiveFileHaveUnCorrectedIssues(activeFile.id)" alt="exclamation icon" class="exclamation-icon">
              <img src="assets/warning.png" *ngIf="document.doesActiveFileHaveUnApprovedCorrections(activeFile.id)" alt="warning icon" class="exclamation-icon">
              <img src="assets/{{activeFile.file.extension}}.png" alt="file icon" class="file-icon">
              <span class="file-name">{{activeFile.file.name}}</span>
              <span class="file-modification">{{activeFile.file.dateUploaded | date:'dd MMM yyyy':'':'en-GB'}}</span>
              <div class="file-actions">
                <img src="assets/sync.png" alt="restore options icon" class="file-action-icon" (click)="openRestoreOptions($event, activeFile)" *ngIf="!activeFile.isFirstVersion()">
                <button *ngIf="!document.isFileMain(activeFile.file.id)" class="mark-as-main-button"><span class="mark-as-main">Mark as main</span></button>
                <img src="assets/bin.png" alt="delete icon" class="file-action-icon">
              </div>
            </div>
          </div>
        </div>

        <div class="file-section" *ngIf="isRestoring">
          <div class="file-header">
            <span class="file-title">Restore</span>
            <button class="restore-cancel-button" (click)="closeRestoreOptions()"> Cancel</button>
          </div>
          <div class="file-list" *ngIf="fileVersions && fileVersions.length > 0">
            <div class="file-item-container active-version" (click)="openFile(activeVersion.file)">
              <img src="assets/{{activeVersion.file.extension}}.png" alt="file icon" class="file-icon">
              <span class="file-name">{{activeVersion.file.name}}</span>
              <span class="file-modification">{{activeVersion.file.dateUploaded | date:'dd MMM yyyy':'':'en-GB'}}</span>
              <span class="file-version">Version: {{activeVersion.file.version}}</span>
              <div class="file-actions">
                <span class="current-version">Current Version</span>
              </div>
            </div>
            <div *ngFor="let file of fileVersions" class="file-item-container" (click)="openFile(file)">
              <img src="assets/{{file.extension}}.png" alt="file icon" class="file-icon">
              <span class="file-name">{{file.name}}</span>
              <span class="file-modification">{{file.dateUploaded | date:'dd MMM yyyy':'':'en-GB'}}</span>
              <span class="file-version">Version: {{file.version}}</span>
              <div class="file-actions">
                <button class="restore-button"><span class="restore">Restore</span></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>

<document-preparation-document-create  [sortedWorkflow]="document.workflow!" [parentDocument]="document" [isUserOwner]="isUserAssignee" [isUserAssignee]="isUserSubAssignee" *ngIf="showCreateDocument"></document-preparation-document-create>
<document-preparation-document-create [status]="document.status.currentStatus" [document]="document" [sortedWorkflow]="parentSortedWorkflow!" [project]="project" [parentDocument]="parentDocument" [isUserOwner]="document.isUserOwner(this.userId)" [isUserAssignee]="document.isUserAssignee(this.userId)" *ngIf="showEditDocument"></document-preparation-document-create>
