<mat-toolbar color="primary">
  <div class="nav-left">
    <p class="brand">EcoLink</p>

    <a
      *ngIf="(user$ | async)?.role === 'ADMIN'"
      class="admin-link"
      [routerLink]="['/dashboard']"
    >
      Admin panel
    </a>
  </div>

  <div id="buttons" *ngIf="user$ | async as user">
    <button
      *ngIf="user.email === ''"
      mat-raised-button
      [routerLink]="['/login']"
    >
      Login
    </button>

    <button *ngIf="user.email !== ''" mat-raised-button (click)="onLogout()">
      Logout
    </button>

    <button *ngIf="user.email !== ''" mat-raised-button [routerLink]="['/']">
      Home
    </button>
  </div>
</mat-toolbar>
