.project-header {
flex :1;
display: flex;
align-items: center;
justify-content: space-between;
}
.project-name {
  font-size: 22px;
  font-weight: semi-bold;
  color :#1B5E20;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1%;
}
.document-preparation-board {
  flex: 5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.project-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-status {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
}
.status-in-progress {
  background-color: #FFA500; /* Orange */
}
.status-completed {
  background-color: #4CAF50; /* Green */
}
.status-abandoned {
  background-color: #F44336; /* Red */
}
.dp-positive {
  background-color: #26A69A; /* Green */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.dp-positive:hover {
  background-color: #1E8E8A;
}
.dp-negative {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.dp-negative:hover {
  background-color: #da190b;
}
.analysis-button {
  background-color: #008CBA; /* Blue */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.analysis-button:hover {
  background-color: #007bb5;
}