<div class="page-container">
  <!-- Header sekcija: 5% visine -->

  <div class="top-bar">
    <div class="section-item add-meta" (click)="openModal()">
      <span class="icon">➕</span>
      <!-- ili neki emoji po izboru -->
      <span class="label">Add Tag</span>
    </div>
    <xp-search-bar
      (searchChange)="onSearch($event)"
      class="search-bar"
    ></xp-search-bar>
  </div>

  <!-- Glavni sadržaj: ostatak -->
  <div class="main-content">
    <h2 style="margin-top: 30px; margin-left: 10px">Manage tags</h2>
    <table class="metadata-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let tag of filteredTags; let i = index"
          [class.odd]="i % 2 === 1"
          [class.even]="i % 2 === 0"
        >
          <td>{{ tag.name }}</td>
          <td>{{ tag.description }}</td>
          <td class="actions-cell">
            <div class="menu-container" (click)="toggleMenu(tag.id)">
              <mat-icon>settings</mat-icon>
              <div class="menu-dropdown" *ngIf="openModalId === tag.id">
                <button (click)="openModalDelete()">Delete</button>
                <button (click)="openModalUpdate()">Edit</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-backdrop" *ngIf="isModalOpen" (click)="closeModal()"></div>

<div class="modal" *ngIf="isModalOpen">
  <div class="modal-header">
    <h3 *ngIf="isCreating">New Tag</h3>
    <h3 *ngIf="isUpdating">Edit Tag</h3>
    <h3 *ngIf="isDeleting">Are you sure you want to delete this tag?</h3>
    <span class="close-btn" (click)="closeModal()">×</span>
  </div>
  <div class="modal-body" *ngIf="isUpdating || isCreating">
    <input type="text" [(ngModel)]="newTagName" placeholder="Tag Name" />
  </div>
  <h4 style="margin-left: 20px; margin-top: 10px" *ngIf="isDeleting">
    "{{ newTagName }}"
  </h4>
  <p style="margin-left: 20px" *ngIf="isDeleting">
    If deleted, the tag will also be removed from all files and folders.
  </p>
  <div class="modal-body" *ngIf="isUpdating || isCreating">
    <input
      type="text"
      [(ngModel)]="newTagDescription"
      placeholder="Tag Description"
    />
  </div>

  <div class="modal-footer">
    <button class="create-btn" *ngIf="isCreating" (click)="createTag()">
      CREATE
    </button>
    <button class="create-btn" *ngIf="isUpdating" (click)="updateTag()">
      UPDATE
    </button>
    <button class="create-btn" *ngIf="isDeleting" (click)="deleteTag()">
      DELETE
    </button>
  </div>
</div>
