<div class ="container" *ngIf="showCreateDocumentModal === false">
  <div class="document-header" *ngIf="parentDocument">
    <div class="document-header-left">
      <span class="document-name">{{ parentDocument.name }}</span>
      <button class="dp-positive" (click)="openDocumentAnalysis(parentDocument)" *ngIf="canAnalyze()">Analyze</button>
    </div>
    <button class="dp-positive" *ngIf="isUserAssignee()">My Tasks</button>
  </div>
  <document-preparation-board class="document-preparation-board" *ngIf="parentDocument && documents" (addDocument)="openAddDocument($event)" [sortedWorkflow]="parentDocument.workflow!" [documents]="documents" [isUserOwner]="isUserOwner()" [isUserAssignee]="isUserAssignee()" [canEdit]="canEdit"></document-preparation-board>
</div>
<document-preparation-document-create  [workflowStatus]="statusToCreateDocumentIn" [sortedWorkflow]="parentDocument.workflow!" [parentDocument]="parentDocument" [isUserOwner]="isUserOwner()" [isUserAssignee]="isUserAssignee()" *ngIf="showCreateDocumentModal"></document-preparation-document-create>
