<div class="app" [class.show-templates]="showTemplatesSidebar">
  <wa-conversations-sidebar
    [conversations]="conversations"
    [loading]="loading"
    [selectedId]="activeSession?.id"
    (createNew)="openTemplates()"
    (selectConversation)="onSelectConversation($event)"
  >
  </wa-conversations-sidebar>

  <wa-templates-sidebar
    *ngIf="showTemplatesSidebar"
    (hide)="closeTemplates()"
    (created)="onSessionCreated($event)"
  >
  </wa-templates-sidebar>

  <main class="main">
    <div class="workspace">
      <xp-welcome-screen
        *ngIf="!activeSession && !showTemplatesSidebar"
        (createNew)="openTemplates()"
      >
      </xp-welcome-screen>

      <!-- <xp-session-editor
        *ngIf="activeSession"
        [session]="activeSession">
      </xp-session-editor> -->
    </div>
  </main>
</div>
